@font-face {
  font-family: "roboto-light-desktop";
  src: url("../assets/fonts/RobotoSlab-Light.ttf") format("truetype");
}

h1,
.heading-1 {
  font-family: roboto-light-desktop;
  font-size: 54px;
  color: blue;
}
